line:
  accessToken: 'YOUR CHANNEL ACCESS TOKEN'
  secret: 'YOUR CHANNEL SECRET'
# https://developers.line.me/messaging-api/getting-started

mail:
  sender: 'YOUR SENDER EMAIL ADDRESS'
  smtp:
    host: 'SMTP SERVER'
    port: 'SMTP PORT'
    secure: true
    auth:
      user: 'SMTP USER'
      pass: 'SMTP PASSWORD'
# https://nodemailer.com/smtp/

otayoriPhoto:
  email: 'YOUR OTAYORI PHOTO RECEIVER EMAIL'
# https://www.nttdocomo.co.jp/service/otayori_photo/
